html {
    scroll-behavior: auto;
}

/* Nav Desktop & Mobile Links */
.nav-link,
.mobile-nav-item {
    color: #c4c4c4;
    transition: all 0.3s ease;
}

/* Indicador de sección activa */
.nav-link.active,
.mobile-nav-item.active {
    color: #4ef3a1 !important;
}

/* Hover */
.nav-link:hover {
    color: #4ef3a1;
}

/* Botón Idioma */
.lang-toggle {
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lang-toggle:hover {
    transform: scale(1.05);
    color: #4ef3a1;
    border-color: #4ef3a1;
}

/* Project Card Estructura */
.project-info-container {
    max-height: none;
    opacity: 1;
    margin-top: 1.5rem;
    display: block;
}
